{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1 class="lead">Welcome to The Name Preference Wizard</h1>
    <p class="lead">Answer a few questions about which names are your favorite, and we'll guess which year you were born.</p>
  </div>
{% endblock %}
